<div class="request-meeting">
  <div class="request-welcome">
    <h4>Send request to <%= @user.first_name %> <%= @user.first_name[0,1] %>.</h4>
  </div>
  <div class="request-form">
    <%= simple_form_for([@user, @meeting]) do |f|%>
      <div class="request-margin request-meeting-time">
        <strong>When would you like to meet?</strong>
        <br>
        <% @user.availabilities.each do |availability| %>
          <li>
            <%= availability.day_of_week %>
            <%= availability.period_of_day %>
            <%= check_box_tag 'availability_ids[]', availability.id %>
            <%= time_select 'meeting', 'meeting_date_time', {minute_step: 15} %>
          </li>
        <% end %>
        <em>Please choose a day and set meeting time based on <%= @user.first_name %> <%= @user.first_name[0,1] %>.'s availabilities</em>
      </div>
      <div class="request-margin request-meeting-location"><strong>Where would you like to meet?</strong>
        <br>
        <%= select_tag :meeting_location, "
          <option><em>Select one meeting point</em></option>
          <option>#{ @user.address} (#{ @user.first_name}'s address)</option>
          <option>#{current_user.address} (#{ current_user.first_name}'s address)</option>
          <option>Halfway location between us</option>
          ".html_safe, placeholder: "Select where to meet" %>
      </div>
      <div class="request-margin request-meeting-activity"><strong>What activity would you like to be doing?</strong>
        <br>
        <%= select_tag :activity, "
          <option><em>Select one activity</em></option>
          <option>have lunch</option>
          <option>go swimming</option>
          <option>go running</option>
          <option>go jogging</option>
          <option>have a coffee</option>
          <option>drink a tea</option>
          <option>blow bubbles</option>
          <option>drink a Beer</option>
          <option>walk the dog</option>
          ".html_safe, placeholder: "Select one activity" %>
      </div>
      <div class="request-margin request-meeting-topic"><strong>What do you want to talk about?</strong>
        <br>
        <%= text_field_tag :topic, params[:topic], placeholder: "Define one topic" %>
      </div>
      <div id="preview">
      </div>
      <div class="request-margin request-meeting-button">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>


