<div class="mymeetings">
<% @meetings.each do |meeting| %>
  <% if meeting.status == "pending" %>
    <!-- pending meeting requests -->
    <div class="request">
      <div class="request-name">
        <%= User.find(meeting.sender_id).first_name %> <%= User.find(meeting.sender_id).last_name[0,1] %>.
      </div>
      <div class="request-career">
        <% User.find(meeting.sender_id).career_positions.each do |career| %>
          <%= JobTitle.find(career.job_title_id).name %>
          <br>
          @<%= JobTitle.find(career.company_id).name %>
        <% end %>
      </div>
      <div class="avatar-bordered-meeting">
        <img src="<%= User.find(meeting.sender_id).photo %>"/>
      </div>
      <div class="request-message">
        <em>"Would you like to <%= meeting.suggested_activity %> with me at <%= meeting.meeting_location %>? I would like to talk about <%= meeting.topic %> with you."</em>
      </div>
      <div class="request-buttons">
        <%= link_to "Accept", my_meetings_path, id: "accept", class: "btn btn-book-meeting", data: { confirm: "That's awesome. You are one step closer having a great networking experience." } %>
        <%= link_to "Decline", my_meetings_path, id: "decline", class: "btn btn-book-meeting", data: { confirm: "That's sad. You might miss a great networking opportunity." } %>
      </div>
    </div>
  <% elsif meeting.status == "accepted"  %>
      <!-- Code your meeting here -->
      <!-- Photo -->
      <% if current_user.id == meeting.recipient_id %>
      <div class ="received-meeting">
        <div class="avatar-bordered-meeting">
          <img src="<%= User.find(meeting.sender_id).photo %>"/>
        </div>

        <!-- Name -->
        <div class="meeting-name">
          <%= User.find(meeting.sender_id).first_name.partition(" ").first %> <%= User.find(meeting.sender_id).last_name[0,1] %>.
        </div>

        <!-- Date -->
        <div class="meeting-date">
          <%= meeting.meeting_date_time %>
        </div>

        <!-- Career Position -->
        <div class="meeting-career">
          <% User.find(meeting.sender_id).career_positions.each do |career| %>
            <%= JobTitle.find(career.job_title_id).name %>
            <br>
            @<%= JobTitle.find(career.company_id).name %>
          <% end %>
        </div>

        <!-- Message -->
        <div class="meeting-message">
          <em>"Would you like to <%= meeting.suggested_activity %> with me at <%= meeting.meeting_location %>? I would like to talk about <%= meeting.topic %> with you."</em>
        </div>

        <!-- Status -->
        <div class="meeting-status">
          Accepted
        </div>

        <!-- Sent or Received -->
        <div class="meeting-responsibility">
          Received
        </div>
      </div>
      <% else %>
      <div class ="sent-meeting">
        <div class="avatar-bordered-meeting">
          <img src="<%= User.find(meeting.recipient_id).photo %>"/>
        </div>

        <!-- Name -->
        <div class="meeting-name">
          <%= User.find(meeting.recipient_id).first_name.partition(" ").first %> <%= User.find(meeting.recipient_id).last_name[0,1] %>.
        </div>

        <!-- Date -->
        <div class="meeting-date">
          <%= meeting.meeting_date_time %>
        </div>

        <!-- Career Position -->
        <div class="meeting-career">
          <% User.find(meeting.recipient_id).career_positions.each do |career| %>
            <%= JobTitle.find(career.job_title_id).name %>
            <br>
            @<%= JobTitle.find(career.company_id).name %>
          <% end %>
        </div>

        <!-- Message -->
        <div class="meeting-message">
          <em>"Would you like to <%= meeting.suggested_activity %> with me at <%= meeting.meeting_location %>? I would like to talk about <%= meeting.topic %> with you."</em>
        </div>

        <!-- Status -->
        <div class="meeting-status">
          Accepted
        </div>

        <!-- Sent or Received -->
        <div class="meeting-responsibility">
          Sent
        </div>
      </div>
      <% end %>
    </div>
  <% else meeting.status == "cancelled" %>
    <%= link_to my_meetings_path, id: "cancel", class: "btn btn-book-meeting", data: { confirm: "That's sad. You might miss a great networking opportunity." } %>
  <% end %>
<% end %>
</div>
