function updateDOM() {
  const activity = document.getElementById('activity').value;
  const topic = document.getElementById('topic').value;
  const date_time = document.getElementById('datetime_ida').value;
  const meeting_location = document.getElementById('meeting_location').value;
  console.log(activity, topic, date_time, meeting_location);

  const preview = document.getElementById('preview');
  console.log(preview);
  // preview.innerHTML = '<%= j render "meetings/preview", user: @user %>'
  preview.innerHTML = `
    <div class="card-user-preview-infos">
      <%= current_user.first_name %> <%= current_user.last_name[0,1] %>.
      <% current_user.career_positions.each do |career| %>
        <%= JobTitle.find(career.job_title_id).name %>
        <br>
        @<%= JobTitle.find(career.company_id).name %>
      <%= current_user.photo %>
      Would you like to ${activity} with me at ${meeting_location} on ${date_time}? I would like to talk about ${topic} with you.
      <%= link_to "Accept", class: "btn btn-book-meeting" %>
      <%= link_to "Decline", class: "btn btn-book-meeting" %>
    </div>
  `
  // here we will target the div with id preview and update its inner HTML with the actual preview
    //<div class="card-user-user">
      //<img src='https://kitt.lewagon.com/placeholder/users/giuliagoe' class="card-user-user avatar-bordered"/>
    //</div>
}

updateDOM();
