<!-- MultiStep Form -->
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= form_for @user, url: profile_personal_path(@user), method: :patch, html: {id: "msform", class: "multistep-form" }  do |f| %>
        <% hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div style="text-align:center;margin-top:5px;">
          <span class="step active"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>

        <fieldset class="form-step form-step-active">
          <h2 class="fs-title">Meeting preferences</h2>
          <h3 class="fs-subtitle">Tell us how you would like to meet your nextBuddy</h3>
          <!-- checkboxes do with -->

          <%= f.label :activities %>

          <div class="flex-wrap-center">
            <div class="clickable"> <i class="fas fa-coffee"></i> <input name="select_coffee" value="have a coffee" id="select_coffee" type="radio"></div>
            <div class="clickable"> <i class="fas fa-swimmer"></i> <input name="select_swimming" value="go swimming" id="select_swimming" type="radio"></div>
            <div class="clickable"> <i class="fas fa-utensils"></i> <input name="select_lunch" value="have lunch" id="select_lunch" type="radio"></div>
            <div class="clickable"> <i class="fas fa-running"></i> <input name="select_running" value="go running" id="select_running" type="radio"></div>
            <div class="clickable"> <i class="fas fa-dog"></i> <input name="select_dog" value="walk the dog" id="select_dog" type="radio"></div>
            <div class="clickable"> <i class="fas fa-walking"></i> <input name="select_jogging" value="go jogging" id="select_jogging" type="radio"></div>
            <div class="clickable"> <i class="fas fa-beer"></i> <input name="select_beer" value="have a beer" id="select_beer" type="radio"></div>
<!--             <div class="clickable"> <i class="fas fa-bicycle"></i> <input name="select_bicycle" value="have a bicycle" id="select_bicycle" type="radio"></div> -->
            <div class="clickable"> <i class="fas fa-comments"></i> <input name="select_bubbles" value="blow bubbles" id="select_bubbles" type="radio"></div>
          </div>
          <%= f.label :availabilities %>
          <br>
          <em>Select days</em>
          <br>
          <div class="flex-wrap-center">
            <div class="clickable-day-of-week"> Monday <input name="select_mondays" value="Monday" id="select_mondays" type="radio"></div>
            <div class="clickable-day-of-week"> Tuesday <input name="select_tuesdays" value="Tuesday" id="select_tuesdays" type="radio"></div>
            <div class="clickable-day-of-week"> Wednesday <input name="select_wednesdays" value="Wednesday" id="select_wednesdays" type="radio"></div>
            <div class="clickable-day-of-week"> Thursday <input name="select_thursdays" value="Thursday" id="select_thursdays" type="radio"></div>
            <div class="clickable-day-of-week"> Friday <input name="select_fridays" value="Friday" id="select_fridays" type="radio"></div>
          </div>
          <%= f.label :availabilities %>
          <br>
          <em>Select times</em>
          <br>
          <div class="flex-wrap-center">
            <div class="clickable-period-of-day"> morning <input name="select_morning" value="morning" id="select_morning" type="radio"></div>
            <div class="clickable-period-of-day"> noon <input name="select_noon" value="noon" id="select_noon" type="radio"></div>
            <div class="clickable-period-of-day"> afternoon <input name="select_afternoon" value="afternoon" id="select_afternoon" type="radio"></div>
            <div class="clickable-period-of-day"> evening <input name="select_evening" value="evening" id="select_evening" type="radio"></div>
          </div>
          <%= f.label :address  %>
          <%= f.text_field :address, :placeholder => "Your usual address is..." %>

          <input type="button" name="next" class="form-step-next" value="Next"/>
        </fieldset>

        <fieldset class="form-step">
          <h2 class="fs-title">Personal information</h2>
          <h3 class="fs-subtitle">Tell us more about you</h3>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, readonly: true %>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, readonly: true %>
          <%= f.label :photo %>
          <%= image_tag(@user.photo, :alt => "@user.first_name", :class => "avatar-bordered") %><br>
          <%= f.label :bio %>
          <%= f.text_field :bio, :placeholder => "Tell something personal about yourself..." %>

          <input type="button" name="previous" class="form-step-previous" value="Previous"/>
          <input type="button" name="next" class="form-step-next" value="Next"/>
        </fieldset>

        <fieldset class="form-step">
          <h2 class="fs-title">Professional information</h2>
          <h3 class="fs-subtitle">Tell us more about your professional career </h3>



          <%= f.label :job_title %>
          <input type="text" name="cp_job_title" placeholder="What job title do you currently have?">

          <%= f.label :company %>
          <input type="text"s name="cp_company" placeholder="What company do you currently work at?">

          <%= f.label :professional_interests %>
          <input type="text" name="pi_name_1" placeholder="Specifiy your professional interests like entrepreneurship">
          <input type="text" name="pi_name_2" placeholder="Specifiy in case you have more professional interests">
          <input type="text" name="pi_name_3" placeholder="Specifiy in case you have more professional interests">

          <%= f.label :skills %>
          <input type="text" name="skills1" placeholder="Specify your professional skills like 'coding'" >
          <input type="text" name="skills2" placeholder="Specifiy in case you have more professional skills">
          <input type="text" name="skills3" placeholder="Specifiy in case you have more professional skills">
          <input type="button" name="previous" class="form-step-previous" value="Previous" />
          <%= f.submit 'submit', :class => 'form-step-submit' %>
        </fieldset>
      <% end %>
    </div>
</div>
