<form action="/usercharacteristics" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <h5 class="fs-title">Meeting preferences</h5>
  <input type="text" name="user[activity]" placeholder="Activities to do ..."/>
  <input type="text" name="u-availabilities" placeholder="Availability"/>
  <input type="text" name="u-radius" placeholder="600 meters"/>
  <input type="text" name="u-address" placeholder="address"/>

  <h5 class="fs-title">Personal information</h5>
  <input type="text" name="u-first_name" id="first_name" placeholder="<%= @user.first_name %>"/>
  <input type="text" name="u-last_name" id="last_name" placeholder="<%= @user.last_name %>"/>
  <img class="avatar-bordered" src="<%= @user.photo %>" alt="<%= @user.first_name %> photo">
  <input type="text" name="user[bio]" id="bio" placeholder="<%= @user.bio %>"/>

  <h5 class="fs-title">Professional information</h5>
  <% career_position = CareerPosition.find(@user.id) %>
  <% professional_interest = ProfessionalInterest.find(@user.id) %>
  <% skill = Skill.find(@user.id) %>
  <input type="text" name="cp-title" placeholder="<%= JobTitle.find(career_position.id).name %>"/>
  <input type="text" name="cp-company" placeholder="<%= Company.find(career_position.id).name %>"/>
  <input type="text" name="cp-industry" placeholder="<%= Industry.find(career_position.id).name %>"/>
  <input type="text" name="cp-functions" placeholder="<%= JobFunction.find(career_position.id).name %>"/>
  <input type="text" name="pi-name" placeholder="<%= (professional_interest).name %>"/>
  <input type="text" name="u-professional_goal" placeholder="<%= @user.professional_goal %>"/>
  <input type="text" name="skills" placeholder="<%= (skill).name %>"/>

  <input type="submit">
</form>





<!-- MultiStep Form -->
<!-- <div class="row"> -->
    <!-- <div class="col-md-6 col-md-offset-3"> -->
        <!-- <form action="/UserCharacteristics" method="post" id="msform"> -->
          <!-- <%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
            <!-- progressbar -->
            <!-- <ul id="progressbar"> -->
                <!-- <li class="active">Meeting preferences</li> -->
                <!-- <li>Personal information</li> -->
                <!-- <li>Professional information</li> -->
            <!-- </ul> -->
            <!-- fieldsets -->
            <!-- <fieldset> -->
                <!-- <h2 class="fs-title">Meeting preferences</h2>
                <h3 class="fs-subtitle">Tell us how would you like to meet with your buddy</h3>
                <input type="text" name="activities" placeholder="Activities to do ..."/>
                <input type="text" name="availabilities" placeholder="Availability"/>
                <input type="text" name="u-radius" placeholder="600 meters"/>
                <input type="text" name="u-address" placeholder="address"/>

                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Personal information</h2>
                <h3 class="fs-subtitle">Tell us more about you</h3>
                <input type="text" name="u-fname" placeholder="first name"/>
                <input type="text" name="u-lname" placeholder="last name"/>
                <input type="text" name="u-photo" placeholder="Add photo?"/>
                <input type="text" name="u-bio" placeholder="Bio:"/>

                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Professional information</h2>
                <h3 class="fs-subtitle">Tell us what you have</h3>
                <input type="text" name="cp-title" placeholder="Current position"/>
                <input type="text" name="cp-company" placeholder="Current company"/>
                <input type="text" name="cp-industry" placeholder="Industry of your current company"/>
                <input type="text" name="cp-functions" placeholder="Type your functions"/>
                <input type="text" name="pi-name" placeholder="Professional interests"/>
                <input type="text" name="u-progoal" placeholder="Professional goal"/>
                <input type="text" name="skills" placeholder="Type your skills"/>

                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/> -->
                <!-- <input type="submit" name="submit" class="submit action-button" value="Submit"/> -->
            <!-- </fieldset> -->
        <!-- </form> -->
        <!-- link to designify.me code snippets -->
        <!-- <div class="dme_link"> -->
            <!-- <p><a href="http://designify.me/code-snippets-js/" target="_blank">More Code Snippets</a></p> -->
        <!-- </div> -->
        <!-- /.link to designify.me code snippets -->
    <!-- </div> -->
<!-- </div> -->
<!-- /.MultiStep Form -->
