<div class="map-flexbox">
  <div
    id="map"
    style="width: 100%;
    height: 330px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <div class="centeredbutton">
    <button type="button" class="btn-orange btn-pill" data-toggle="modal" data-target="#myModal">Filters</button>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog filter-modal" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter nextBuddies by</h4>
      </div>
      <div class="modal-body">
        <label>
          <div> Radius near me (km): </div>
        </label>
        <%= form_tag users_path, method: :get do %>
          <div class="range-slider">
            <%= range_field_tag :radius, params[:radius], in: 1..10, step: 1, class: 'range-slider__range'%>
            <span class="range-slider__value">5</span>
          </div>

          <label class="filter-modal__section">
            <div>Interest</div> <%= text_field_tag :interest, params[:interest], placeholder: "e.g. innovation" %>
          </label>
          <label class="filter-modal__section">

            <div>Activity</div>
            <%= select_tag :activity,
              options_for_select(Activity.pluck(:description).uniq,
              "Select one activity" )
            %>
          </label>
          <label class="filter-modal__section">
            <div>Skill</div> <%= text_field_tag :skill, params[:skill], placeholder: "e.g. UX design" %>
          </label>

          <label class="filter-modal_section">
            <div>Availability</div>
              <%= select_tag :availability,
                options_for_select(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday" ],
                "Select one weekday" )
              %>
          </label>
          <p><%= submit_tag ("Filter"), class: "btn-orange-filter" %></p>
        <% end  %>
      </div>
    </div>

  </div>
</div>

<div class="scrolling-wrapper" id="card-scroller">

  <% if @users.empty? %>
    <p>No users</p>
  <% else %>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="card-user js-card-user" data-user-id="<%= user.id %>">
          <div class="card-user-inner">
            <div class="card-user-name">
              <h2>
                <%= user.first_name.partition(" ").first %>
                <%= user.last_name[0] %>.
              </h2>
            </div>

            <div class="card-user-location">
                <p><i class="fas fa-map-marker-alt"></i>    <%= user.address %></p>
            </div>

            <div class="card-user-career">
              <p><strong><%= user.current_title.name %> @<%= user.current_company.name %></strong></p>
            </div>

            <div class="user-professional-interests">
              <% user.professional_interests.each do |interest| %>
                <p>#<%= interest.name %></p>
              <% end %>
            </div>

            <div class="card-user-user">
              <%= image_tag user.photo, class: "card-user-user avatar-bordered" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>





