<div class="card-user-show">
  <div class="card-user-name-photo">
    <div class="card-user-name">
      Name: <%= @user.first_name %> <%= @user.last_name %>
    </div>
    <div class="card-user-photo avatar-bordered"">
      <%= @user.photo %>
    </div>
  </div>
  <div class="card-user-career-position">
      Current career positions:
      <br>

      <% @user.career_positions.each do |career| %>
      <%= career.job_title.name %> @<%= career.company.name %> (<%= career.job_function.name %>, <%= career.industry.name %>)
      <% end %>
  </div>
  <div class="card-user-interests">
    <p>
      Professional interests: <% @user.professional_interests.each do |interest| %>
        <%= interest.name %>
      <% end %>
    </p>
  </div>
  <div class="card-user-skills">
    <p>
      <% @user.skills.each do |skill| %>
      Skills: <%= skill.name %>
      <% end %>
    </p>
  </div>
  <div class="card-user-bio">
    <p>
      Bio: <%= @user.bio %>
    </p>
  </div>
  <div class="card-user-professional-goal">
    <p>
      Professional goal: <%= @user.professional_goal %>
    </p>
  </div>
  <div class="card-user-activity">
    <p>
      <% @user.activities.each do |activity| %>
      Activities: <%= activity.description %>
      <% end %>
    </p>
  </div>
  <div class="card-user-availability">
    <p>
      <% @user.availabilities.each do |availability| %>
        Availabilities: <%= availability.day_of_week %> <%= availability.period_of_day %>s <%= link_to "Book a meeting now", new_user_meeting_path(@user, availability), class: "btn btn-book-meeting" %>
      <% end %>
    </p>
  </div>
</div>


