<div class="card-user-show">
  <div class="card-user-show-header">
    <div class="name">
      <h2><%= @user.first_name.partition(" ").first %> <%= @user.last_name[0,1] %>.</h2>
      <div class="career-position">
        <% @user.career_positions.each do |career| %>
          <h5><%= career.job_title.name %>
            <br>
            @<%= career.company.name %> </h5>
        <% end %>
  </div>
    </div>

    <div class="photo">
      <%= image_tag @user.photo, class: "avatar" %>
    </div>
  </div>

  <div class="card-user-show-section">
    <h6>Professional Interests</h6>
    <% @user.professional_interests.each do |interest| %>
      <p>#<%= interest.name %></p>
    <% end %>
  </div>

  <div class="card-user-show-section">
    <h6>Skills</h6>
    <% @user.skills.each do |skill| %>
      <p>
        <%= skill.name.capitalize %>
      </p>
    <% end %>
  </div>

  <div class="card-user-show-section">
    <h6>Bio</h6>
    <p class="js-bio-teaser"><%= @user.bio[0, 100] %>... <a href="#showBio" id="showBio">Read more</a></p>
    <p class="js-bio-full hide"><%= @user.bio %></p>
  </div>

  <div class="card-user-show-section">
    <h6>What I like to do</h6>
    <% @user.activities.each do |activity|  %>
     <i class="fas <%= activity.symbol %>" ></i>
    <% end %>
  </div>

  <div class="card-user-show-section">
    <h6>Availabilities</h6>
      <% @user.availabilities.each do |availability| %>
        <p><%= availability.day_of_week %> <%= availability.period_of_day %>s<p>
      <% end %>
  </div>

  <div class="request-meeting-button">
    <%= link_to "MEET ME", new_user_meeting_path(@user, @availability), class: "btn-orange show" %>
  </div>

</div>


