<div class="home-first-scroll" id="top">
  <div class="center-items">
    <div class="home-logo">
      <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552261209/NB_logo.png", height: 100 %>
    </div>
  </div>
  <div class="home-intro-container ">
      Make <strong>connections</strong> <span id="banner-typed-text"></span>
  </div>

    <!-- <a class='btn-log-in-with home-login-btn' href="#">
      <i class="fab fa-linkedin-in"></i>
       Login with Linkedin
    </a> -->
    <% if user_signed_in? %>
      <ul class="btn-home-list">
        <li> <%= link_to "DISCOVER", users_path, :class => 'btn-home-page'  %> </li>
      </ul>
    <% else %>
      <ul class="btn-home-list">
        <li> <%= link_to "EXPLORE", new_user_session_path, :class => 'btn-home-page'  %> </li>
      </ul>
    <% end %>

  <div class="center-items">
    <div class="home-click-down">
      <a href="#screen-2" class="js-animate-to">
        <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552260970/Arrows_down_nobackground.png", height: 70 %>
      </a>
    </div>
  </div>
</div>
<div class="home-screen" id="screen-2">
  <div class="home-screen-banner">
    <div class="home-screen-banner-content">
      <h2 class="home-screen-banner-header">
        DISCOVER
      </h2>
      <p class="home-screen-banner-description">
        Make your next connection. Right where you are.
      </p>
    </div>
    <a href="#top" class="js-animate-to home-screen-banner-top btn btn-ghost">BACK TO TOP</a>
  </div>
  <div class="index-iphone">
    <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552485634/Frame_1_Discover.png", width: "250px" %>
  </div>
</div>
<div class="home-screen" id="screen-3">
  <div class="home-screen-banner">
    <div class="home-screen-banner-content">
      <h2 class="home-screen-banner-header">
        FIND
      </h2>
      <p class="home-screen-banner-description">
        Find connections that are meaningful to you.
      </p>
    </div>
    <a href="#top" class="js-animate-to home-screen-banner-top btn btn-ghost">BACK TO TOP</a>
  </div>
  <div class="index-iphone">
    <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552485634/Frame_2_Find.png", width: "250px" %>
  </div>
</div>
<div class="home-screen" id="screen-4">
  <div class="home-screen-banner">
    <div class="home-screen-banner-content">
      <h2 class="home-screen-banner-header">
        CONNECT
      </h2>
      <p class="home-screen-banner-description">
        Start making connections while doing what you love.
      </p>
    </div>
    <a href="#top" class="js-animate-to home-screen-banner-top btn btn-ghost">BACK TO TOP</a>
  </div>
  <div class="index-iphone">
    <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552485641/Frame_3_Connect.png", width: "250px" %>
  </div>
</div>
<footer class="footer-area footer--light text-center" id="footer">
    <%= render 'shared/footer' %>
</footer>
